*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #363433;
}

.aklogo{
    margin-top: 20px;
    text-align: center;
}
.aklogo img{
    width: 100px;
    height: auto;
}
/* Slider Carousel Code*/
.con{
    width: 90%;
    padding: 20px;
    margin: 100px auto;
    margin-top: 40px;
    display: flex;
}

/*Main carousel Box body code */
.box{
    height: 400px;
    padding: 20px;
    background-color: none !important;
    border: none;
    font-size: 30px;
    flex: 1;
    background-size: cover;
    position: relative;
    transition: height 0.5s;
    -webkit-transition: height 0.5s;
    text-align: center;
    overflow: hidden;
    color: #f1f1f1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.box>p{
    font-size: 20px;
    justify-content: left;
}
/*Hover Effect Carousel Box*/
.box:hover{
    flex: 3;
    transition: ease-in 0.75s;
    -webkit-transition: ease-in 0.75s;
    -moz-transition: ease-in 0.75s;
    -ms-transition: ease-in 0.75s;
    -o-transition: ease-in 0.75s;
}
.box:hover>.boxbt{
    opacity: 100;
    transition: 1s;
}

.box>h1,h2,h2{
    font-size: 50px;
    font-weight: 900;
}

.b1{
    background-image: linear-gradient(45deg,  #f58700c5, #f3ddc39a),
    url("https://images.pexels.com/photos/2343467/pexels-photo-2343467.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}
.b2{
    background-image: linear-gradient(45deg,  rgba(226, 28, 25, 0.75), rgba(252, 95, 89, 0.75)),
    url("https://images.pexels.com/photos/7061393/pexels-photo-7061393.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}
.b3{
    background-image: linear-gradient(45deg,  rgba(25, 119, 226, 0.75), rgba(113, 104, 235, 0.75)),
    url("https://images.pexels.com/photos/6169158/pexels-photo-6169158.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");

}
.b4{
    background-image: linear-gradient(45deg,  rgba(226, 25, 142, 0.75), rgba(255, 177, 232, 0.75)),
    url("https://images.pexels.com/photos/3434533/pexels-photo-3434533.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}
.b5{
    background-image: linear-gradient(45deg,  rgba(253, 124, 3, 0.75), rgba(252, 95, 89, 0.75)), 
    url("https://images.unsplash.com/photo-1484154218962-a197022b5858?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1474&q=80")
}

.boxbt {
    -webkit-border-radius: 60;
    -moz-border-radius: 60;
    border-radius: 60px;
    border: none;
    font-family: Arial;
    color: #000000;
    font-size: 20px;
    background: #f5f5f5;
    padding: 15px 30px 16px 37px;
  }
  
  .boxbt:hover {
    background: #E8962F;
    background-image: -webkit-linear-gradient(top, #E8962F, #E8962F);
    background-image: -moz-linear-gradient(top, #E8962F, #E8962F);
    background-image: -ms-linear-gradient(top, #E8962F, #E8962F);
    background-image: -o-linear-gradient(top, #E8962F, #E8962F);
    background-image: linear-gradient(to bottom, #E8962F, #E8962F);
    transition: 0.2s;
    cursor: pointer;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}
  .boxbt>p{
    position: relative;
    float: left;
  }
  .box>.boxbt{
    opacity: 0;
    margin-top: 30px;
}






/*Join button CSS*/
.con2{
    display: flex;
    align-items: center;
    justify-content: center;
}
.akjoin{
    width:100%;
    background-color: #E8962F;
}
.akjoin:hover{
    background: #f1ba20 !important;
    transition: 0.2s;
    cursor: pointer;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}




/*Background Curve CSS*/
.bgcurve{
    position: absolute;
    width: 100%;
    top:400px;
    z-index: -1;
}


.con3{
    width:90%;
    padding-top: 0px;
    padding-bottom: 0px !important;
    margin: 100px auto;
    color: #f1f1f1;
    
}
.con3>h1{
    font-size: 50px;
    font-weight: 900;
}
.con3>h4{
    font-size: 20px;
    font-weight: 200;
}
.con3>a{
    float: right;
    position: relative;
    right: 10px;
    color: #000f3a;
    font-size: 25px;
    bottom: 10px;
    font-weight: 600;
}
.con3box{
    padding: 60px 80px 60px;
    width: 90%;
    background-color: #363433;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.2), 0 10px 80px 0 rgba(0, 0, 0, 0.19);
}
   .productbtn{
    margin-top: 50px;
    width: 88%;
    height: 50px;
    border: none;
    border-radius: 6px;
    background-color: #ee9d05;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
} 
    .productbtn:hover{
        background-color: #010101;
        color: #ee9d05;
        transition: 0.2s;
        -webkit-transition: 0.2s;
        -moz-transition: 0.2s;
        -ms-transition: 0.2s;
        -o-transition: 0.2s;
}







 .akreviewheading{
    margin: 75px;
    margin-bottom: 10px;
    color: #202020;
 }  
 .akreviewheading h2{
    font-size: 2.3rem;
 }
 .akreviewheading h3{
    font-size: 0.99rem;
    font-weight: lighter;
 }
.akcontainer4{
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    padding: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #4c4a49;
    margin-bottom: 100px;
}
.akcard{
    width: 50vh;
    height: auto;
    background-color: rgb(255, 166, 0);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}


.clientImage {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px;
}

.clientImage span {
    margin-left: 10px;
    font-size: 1.5rem;
    font-weight: bold;
}

.clientImage img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    overflow: hidden;
    border-radius: 100px !important;
    -webkit-border-radius: 100px !important;
    -moz-border-radius: 100px !important;
    -ms-border-radius: 100px !important;
    -o-border-radius: 100px !important;
}

.akreviewsec{
    margin: 20px;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
}
.akreview{
    margin-top: 13px;
    font-size: 1rem;
    font-weight: 600;
}
.akcard ul {
    display: flex;
    list-style: none;
    margin:20px;
    font-size: 25px;
    align-items: center;
    justify-content: center;
}

.akcard ul li {
    padding-left: 4px;
    align-items: center;
    justify-content: center;
}
.akstar{
    color: #0f0f0f;
}
.inactive{
    color: #202020;
}








.akcontainer5{
    display: flex;
    color: #202020;
}
.akformbody{
    flex:0.99;
}
.akbgimg img{
    width: 700px;
}
.info2{
    margin: 10px 0 30px 0;
    font-size: 2rem;
}
.form1{
    display: flex;
    flex: 10;
    font-size: 20px;
}
#akformcontrol{
    margin-top: 10px;
    border: 7px solid #E8962F;
    background-color: transparent;
    color: #202020;
    width: 150%;
    border-radius: 100px;
    padding: 14px;
}
.akc1{
    margin-right: 200px;
}
.akcolumn{
    margin-bottom: 17px;
}
.akformheading{
    text-align: center;
    margin-bottom: 50px;
}
.aksubmit{
    margin-top: 40px;
    text-align: center;
}
.akformsubmit{
    padding: 20px;
    width: 80%;
    border-radius: 100px;
    cursor: pointer;
    background-color: #E8962F;
    font-size: 1.3rem;
    font-weight: 500;
}
.country{
    width: 180% !important;
    height: 70px !important;
}
.akcity,
.akstate {
    width: 550% !important;
}
.countryOption{
    color: #000000 !important;
}












@media only screen and (max-width: 480px){
    /*Top slider */
    .con{
        margin-top: 10px;
        flex-direction: column;
        justify-content: left;
        margin-left: 0px;
        width: 90%;
        height: 500px !important;
        overflow: hidden;
        padding-bottom: 0;
        margin-bottom: 30px;
    }
    .con h1{
        font-size: 27px !important;
    }
    .box{
        height: 100px;
        flex: 0.1;
    }
    .box:hover{
        transition: ease-in 0.7s !important;
        -webkit-transition: ease-in 0.7s !important;
        -moz-transition: ease-in 0.7s !important;
        -ms-transition: ease-in 0.7s !important;
        -o-transition: ease-in 0.7s !important;
}
.con2{
    margin-bottom: 100px;
    justify-content: center;

}

    .akbgimg img{
        width: 66vh;
    }
    .akcontainer5{
        flex-direction: column;
        flex: 7 !important;
        overflow: hidden;
    }
    #akformcontrol{
        margin-top: 10px;
        border: 5px solid #E8962F;
        background-color: transparent;
        color: #202020;
        width: 65%;
        border-radius: 100px;
        padding: 14px;
    }
    .info1{
        color: #E8962F;
    }
    .info2{
        font-size: 1rem;
        padding-left: 15px;
        margin: 1px 0 1px 0;
    }
    .shop{
        margin-top: 60px !important;
    }
    .akformbody{
        flex:0.1;
        margin-top: 0px;
    }
    .form1{
        display: flex;
        flex-direction: column;
        flex: 1;
        font-size: 14px;
        overflow: hidden;
    }
    .akformheading{
        text-align: left;
       margin-bottom: 50px;
       margin-top: 50px;
    }
    .akformheading h2{
        font-size: 30px !important;
        padding-left: 15px;

    }
    .aksubmit{
        margin-top: 40px;
        text-align: left;
    }
    .akformsubmit{
        padding: 10px;
        width: 40%;
        border-radius: 100px;
        cursor: pointer;
        background-color: #E8962F;
        font-size: 1rem;
        font-weight: 500;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        -ms-border-radius: 100px;
        -o-border-radius: 100px;
}
.country{
    width: 11% !important;
}
.akcity{
    width: 60% !important;
}




/* USer review mobile version*/
    .akreviewheading{
        margin: 0px;
        padding-left: 20px;
        padding-bottom: 20px;
    }
    .akcontainer4{
        padding: 60px;
        width: 100%;
        overflow: hidden;
        flex-direction: column;
        overflow: hidden;
    }
    .akcard{
        margin-bottom: 80px;
        width: 100%;
        height: auto;
    }
    .akcard:nth-child(3){
        display: none;
    }
    .akreview{
        font-size: 0.8rem;
    }
    .akreviewsec{
        font-size: 0.9rem;
    }
    .clientImage{
        margin-bottom: 0px;
    }
    .akstars{
        margin-top: 0px;
    }
}





@media screen and (max-width:700px) {
    .con {
        height: auto;
    }
    .con p{
        font-size: 12px;
    }
    .con h1{
        font-size: 40px;
    }
    .row{
        flex-direction: column;
    }
    .wrapper{
        display: flex;
        flex-direction: column;
    }
    #section1 a{
        position: absolute !important;
        display: none;
    }
    #section1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #section2{
        display: none !important;
    }
    #section3{
        display: none !important;
    }
    .bgcurve{
        top:700px;
    }
    .akjoin{
        width:120%;
        font-weight: 600 !important;
        background-color: #E8962F !important;
    }
    .column2{
        position: relative;
        left:10px;
    }
    .form1{
        margin-top: 50px;
        display: flex !important;
        flex-direction: column;
    }
    .sample{
        margin-left: 0px;
    }
    #formcontrol{
        padding: 20px;
        width: 100%;
    }
    .akcolumn{
        margin:10px;
    }
    .column2 h1{
        width:75%;
        font-size: 3.5rem !important;
        margin-bottom: 50px;
    }
    .boxbt {
        -webkit-border-radius: 60;
        -moz-border-radius: 60;
        border-radius: 60px;
        border: none;
        font-family: Arial;
        color: #000000;
        font-size: 13px;
        background: #f5f5f5;
        padding: 15px 30px 16px 37px;
      }
      .box:hover{
        flex: 3;
        transition: 1.5s;
        -webkit-transition: 1.5s;
        -moz-transition: 1.5s;
        -ms-transition: 1.5s;
        -o-transition: 1.5s;
}
      
}

@media screen and (max-width:375px) {
    .reviewSection {
        padding: 0;
    }

    .reviewItem {
        width: 100%;
    }

    .clientImage {
        margin-bottom: 0.6rem;
    }

    .topp {
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    
}
@media only screen and (max-width: 100px) {
    a.arrow__btn {
    display: none;
    }
   }

   @media screen and (max-width:320px){
    .con {
        height: auto;
    }
    .con p{
        font-size: 12px;
    }
    .con h1{
        font-size: 40px;
    }
    .description {
        width: 90%;
    }
    .row{
        flex-direction: column;
    }
    .wrapper{
        display: flex;
        flex-direction: column;
    }
    #section1 a{
        position: absolute !important;
        display: none;
    }
    #section1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #section2{
        display: none !important;
    }
    #section3{
        display: none !important;
    }
    .bgcurve{
        top:700px;
    }
    .akjoin{
        width:120%;
        font-weight: 600 !important;
        background-color: #E8962F !important;
    }
    .column2{
        position: relative;
        left:10px;
    }
    .form1{
        margin-top: 50px;
        display: flex !important;
        flex-direction: column;
    }
    .sample{
        margin-left: 0px;
    }
    #formcontrol{
        padding: 20px;
        width: 100%;
    }
    .akcolumn{
        margin:10px;
    }
    .column2 h1{
        width:75%;
        font-size: 3.5rem !important;
        margin-bottom: 50px;
    }
    .boxbt {
        -webkit-border-radius: 60;
        -moz-border-radius: 60;
        border-radius: 60px;
        border: none;
        font-family: Arial;
        color: #000000;
        font-size: 13px;
        background: #f5f5f5;
        padding: 15px 30px 16px 37px;
      }
      .box:hover{
        flex: 3;
        transition: 1.5s;
        -webkit-transition: 1.5s;
        -moz-transition: 1.5s;
        -ms-transition: 1.5s;
        -o-transition: 1.5s;
}
}


  
  .akcontainer7 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 4px 16px;
  }
  .akcontainer7 h4{
    color: #f1f1f1 !important;
  }
  #cards-container {
    overflow: hidden;
    margin: 20px;
  }
  
  .cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 99999px;
  }
  
  .akPcard {
    /* Add shadows to create the "akPcard" effect */
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background: #fff;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    width: 235px;
    margin: 15px 7.5px;
  }
  
  .akPcard:hover {
    -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }
  
  .akPcard .container{
    padding: 20px;
    background-color: #000000;
  }
  .akPcard .container h4{
    color: #202020;
    font-size: 1.1rem;
    font-weight: 200 !important;
  }
  .akPcard .img {
    max-width: 220px;
    height: 220px;
    display: inline-block;
  }
  
  #slide-left-container,
  #slide-right-container {
    display: none;
  }
  
  #slide-left-container.active,
  #slide-right-container.active {
    display: block;
    cursor: pointer;
  }
  
  .slide-left,
  .slide-right {
    border-color: #1d1b1b;
    border-style: solid;
    height: 20px;
    width: 20px;
    margin-top: 30%;
  }
  
  .slide-left {
    border-width: 4px 0 0 4px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    margin-left: 40%;
  }
  
  .slide-right {
    border-width: 4px 4px 0 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-left: 22%;
  }
  .aktextheaderbrand{
    padding-left: 35px;
    color: #242424;
    margin-top: 100px;
  }
  .aktextheaderbrand h2{
    font-size: 40px;
  }
  .aktextheaderbrand h3{
    font-weight: lighter;
    font-size: 20px;
  }
  .akviewproduct{
    margin-top: 10px;
    width: 100%;
    height: 40px;
    background-color: #E8962F;
    border: none;
    border-radius: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    font-weight: bold;
}
.akviewproduct:hover{
    background-color: #dcdbda;
    transition: 0.5 s;
    -webkit-transition: 0.5 s;
    -moz-transition: 0.5 s;
    -ms-transition: 0.5 s;
    -o-transition: 0.5 s;
}
